######################
# Create Character One
######################

In [1]:
# Make a variable called `c1_name` and have it equal a string of "Mr. Farley".

c1_name = "Mr. Farley"

In [2]:
# Make a variable called `c1_age` and have it equal to an integer of 65.
c1_age = 65

In [3]:
# Make a variable called `c1_profession` and have it equal to "Web Developer".
c1_profession = "Web Developer"

In [4]:
# Make a variable called `c1_salary` and have it equal to 100000.
c1_salary = 100000

In [5]:
# Make a variable called `c1_species` and have it equal to "cat".
c1_species = "cat"

In [6]:
# Make a variable called `c1_location` and have it equal to "San Francisco, CA".
c1_location = "San Fransisco, CA"

In [7]:
# Make a variable called `c1_monthly_rent` and have it equal to 2000.
c1_monthly_rent = 2000

In [8]:
# Make a variable called `c1_monthly_expenses` and have it equal to 1500.
c1_monthly_expenses = 1500

In [9]:
# Make a variable called `c1_yearly_rent` and have it equal to `c1_monthly_rent` * 12.
c1_yearly_rent = (c1_monthly_rent * 12)

In [10]:
# Make a variable called `c1_yearly_expenses` and have it equal to 1500.00 * 12
c1_yearly_expenses = 1500.00 * 12

In [11]:
# Make a variable called `c1_savings` and have it equal to `c1_salary` - (`c1_yearly_rent` + `c1_yearly_expenses`)
c1_savings = c1_salary - (c1_yearly_rent + c1_yearly_expenses)

######################
# Create Character Two
######################

In [12]:
# Make a variable called `c2_name` and have it equal a string of "Mr. Snuggles".
c2_name = "Mr. Snuggles"

In [13]:
# Make a variable called `c2_age` and have it equal to an integer of 30.
c2_age = 30

In [14]:
# Make a variable called `c2_species` and have it equal to "mouse".
c2_species = "mouse"

In [15]:
# Make a variable called `c2_profession` and have it equal "Accountant"
c2_profession = "Accountant"

In [16]:
# Make a variable called `c2_salary` and have it equal to 70000.
c2_salary = 70000

In [17]:
# Make a variable called `c2_location` and have it equal to "Oakland, CA".
c2_location = "Oakland, CA"

In [18]:
# Make a variable called `c2_monthly_rent` and have it equal to 4000.
c2_monthly_rent = 4000

In [19]:
# Make a variable called `c2_monthly_expenses` and have it equal to 500.
c2_monthly_expenses = 500

In [20]:
# Make a variable called `c2_yearly_rent` and have it equal to `c2_monthly_rent` * 12.
c2_yearly_rent = c2_monthly_rent * 12

In [21]:
# Make a variable called `c2_yearly_expenses` and have it equal to `c2_monthly_expenses` * 12.
c2_yearly_expenses = c2_monthly_expenses * 12

In [22]:
# Make a variable called `c2_savings` and have it equal to `c2_salary` - (`c2_yearly_rent` + `c2_yearly_expenses`)
c2_savings = c2_salary - (c2_yearly_rent + c2_yearly_expenses)

##############
# Conditionals
##############

In [23]:
# Write an if-else statement to check if `c1_name` is equal to "Mr. Farley". If so, print a string of "Hello Mr. Farley" using the `c1_name` variable. If not, print a string of "Hello stranger".
if c1_name == "Mr. Farley":
    print(f"Hello {c1_name}.")
else:
    print("Hello stranger.")

Hello Mr. Farley.

In [24]:
# Write an if-else statement to check if `c2_age` is greater than `c1_age`. If so, print a string of "Mr. Farley is older than Mr. Snuggles". Else if `c1_age` is greater than `c2_age`, print a string of "Mr. Snuggles is older than Mr. Farley". Else, `c1_age` must have to be equal to `c2_age`, therefore print a string of "Mr. Farley is the same age as Mr. Snuggles".
if c2_age > c1_age:
    print(f"{c2_name} is older than {c1_name}.")
elif c1_age > c2_age:
    print(f"{c1_name} is older than {c2_name}.")
else:
    print(f"{c1_name} is the same name as {c2_name}.")

Mr. Farley is older than Mr. Snuggles.

In [26]:
# Write an if-else statement to check if `c1_location` is equal to "Oakland, CA". If so, print a string of "Mr. Farley comes from the home of the Raiders!". Else if `c1_location` is equal to a string of "San Francisco, CA", print a string of "Mr. Farley comes from the home of the 49ers!". Else both conditions must not apply and therefore print a string "Mr. Farley doesn't hail from a sports town."
if c1_location == "Oakland, CA":
    print(f"{c1_name} comes from the home of the raiders.")
elif c1_location == "San Fransisco, CA":
    print(f"{c1_name} comes from the home fo the 49ers!")
else:
    print(f"{c1_name} doesn't hail from a sports town!")

Mr. Farley comes from the home fo the 49ers!

In [28]:
# Write an if-else statement to check if `c1_monthly_rent` is greater than `c2_monthly_rent`. If so, print a string of "Mr. Farley pays more rent than Mr. Snuggles". Else if `c1_monthly_rent` is less than `c2_monthly_rent`, print a string of "Mr. Farley pays less rent than Mr. Snuggles". Else, `c1_monthly_rent` must have to be equal to `c2_monthly_rent`, therefore print a string of "Mr. Farley pays the same rent as Mr. Snuggles".
if c1_monthly_rent > c2_monthly_rent:
    print(f"{c1_name} pays more rent than {c2_name}.")
elif c1_monthly_rent < c2_monthly_rent:
    print(f"{c1_name} pays less rent than {c2_name}.")
else:
    print(f"{c1_name} pays the same rent as {c2_name}.")

Mr. Farley pays less rent than Mr. Snuggles.

In [30]:
# Write an if-else statement to check if `c1_monthly_expenses` is greater than `c2_monthly_expenses`. If so, print a string of `Mr. Farley has more expenses than Mr. Snuggles`. Else if `c1_monthly_expenses` is less than `c2_monthly_expenses`, print a string of "Mr. Farley pays less expenses than Mr. Snuggles". Else, `c1_monthly_expenses` must have to be equal to `c2_monthly_expenses`, therefore print a string of "Mr. Farley pays the same expenses at Mr. Snuggles".
if c1_monthly_expenses > c2_monthly_expenses:
    print(f"{c1_name} has more expenses than {c2_name}.")
elif c1_monthly_expenses < c2_monthly_expenses:
    print(f"{c1_name} has less expenses than {c2_name}.")
else:
    print(f"{c1_name} has the same expenses than {c2_name}.")

Mr. Farley has more expenses than Mr. Snuggles.

In [32]:
# Write an if-else statement to check if `c1_profession` is equal to "Web Developer" AND `c2_profession` is equal to "Accountant". If so, print a string of "Look a Web Developer and an Accountant", else print a string of "They are professionals."
if c1_profession == "Web Developer" and c2_profession == "Accountant":
    print(f"Look a {c1_profession} and an {c2_profession}.")
else:
    print("They are professionals")

Look a Web Developer and an Accountant.