# Topic: Strings

In [1]:
# Create a variable named `subject` with no value (None).
subject = None

In [2]:
# Assign a value of "Programmers to the variable `subject`.
subject = "Programmers"

In [3]:
# Create a variable, `first_name`, and assign it a value of an empty string.
first_name = ''

In [4]:
# Assign a value of "Ada" to the variable `first_name`.
first_name = "Ada"

In [5]:
# Create a variable, `last_name`, and assign it a value of a string, "Lovelace".
Last_name = "Lovelace"

In [8]:
# Create a variable, `full_name`, and assign it a value of the combination of `first_name` and `last_name` with a space.
full_name = first_name + ' ' + Last_name

In [10]:
# Create a variable, `profession`, and assign it a value of a string, "Computer Programmer".
profession = "Computer Programmer"

In [11]:
# Create a variable, `known_for`, and assign it a value of a string, "First Computer Programmer".
known_for = "First Computer Programmer"

In [12]:
# Create a variable, `first_algorithm`, and assign it a value of a string, "Analytical Engine".
first_algorithm = "Analytical Engine"

In [13]:
# Create a variable, `city_location`, and assign it a value of a string, "London".
city_location = "London"

In [14]:
# Create a variable, `country_location`, and assign it a value of a string, "England".
country_location = "England"

In [15]:
# Create a variable, `nationality`, and assign it a value of a string, "British".
nationality = "British"

# Topic: Integers

In [16]:
# Create a variable, `birth_year`, and assign it with an integer of 1815.
birth_year = 1815

In [17]:
# Create a variable, `death_year`, and assign it with an integer of 1852.
death_year = 1852

In [18]:
# Create a variable, `age_at_passing`, and assign it a value of death_year minus birth_year.
age_at_passing = death_year - birth_year

In [19]:
# Create a variable, `year_of_publish`, and assign it with an integer of 1842.
year_of_publish = 1842

# Topic: Print

In [20]:
# Print: "First Name: " and `first_name`.
print(f"First Name : {first_name}")

First name : Ada

In [21]:
# Print: "Last Name: " and `last_name`.
print(f"Last Name : {Last_name}")

Last Name : Lovelace

In [22]:
# Print: "Profession: " and `profession`.
print(f"Profession : {profession}")

Profession : Computer Programmer

In [23]:
# Print: "BirthYear: " and `birth_year`.
print(f"Birth Year : {birth_year}")

Birth Year : 1815

# Topic: Concat Values

In [27]:
# Create and print a variable, `statement_one`, by assigning it a value of a concatenated string:
# "Programmers: Ada Lovelace is a British Computer Programmer born in 1815."
statement_one = f"{subject}: {full_name} is a {nationality} {profession} born in {birth_year}."
print(statement_one)

Programmers: Ada Lovelace is a British Computer Programmer born in 1815.

In [31]:
# Create and print a variable, `statement_two`, by assigning it a value of a concatenated string:
# "She is commonly referred to as the First Computer Programmer."
statement_two = f"She is commonly referred to as the {known_for}."
print(statement_two)

She is commonly referred to as the First Computer Programmer.

In [33]:
# Create and print a variable, `statement_three`, by assigning it a value of a concatenated string:
# "In 1842 she published the first Algorithm, the Analytical Engine, at the age of 27."
statement_three = f"In {first_algorithm} she published the first Algorithm, the {first_algorithm}, at the age of {year_of_publish - birth_year}."
print(statement_three)

In Analytical Engine she published the first Algorithm, the Analytical Engine, at the age of 27.

In [34]:
# Create and print a variable, `statement_four`, by assigning it a value of a concatenated string:
# "She was a British Citizen who lived in London, England until her passing in 1852 at the age of 37."
statement_four = f"She was a {nationality} Citizen who lived in {city_location}, {country_location} unitl her passing in {death_year} at the age of {death_year - birth_year}."
print(statement_four)

She was a British Citizen who lived in London, England unitl her passing in 1852 at the age of 37.